<div class="container-fluid p-0">
  
  <app-header></app-header>
  
  <div class="d-flex">
    
    <app-sidebar></app-sidebar>
    
    <!-- Div de overlay para móviles, debajo del sidebar pero antes del contenido principal -->
    <div *ngIf="!sidebarService.isSidebarCollapsed && isMobile" class="sidebar-overlay" (click)="sidebarService.toggleSidebar()"></div>
    
    <main [ngClass]="{'content-with-sidebar': !sidebarService.isSidebarCollapsed, 'content-with-sidebar-collapsed': sidebarService.isSidebarCollapsed, 'sidebar-visible-mobile': !sidebarService.isSidebarCollapsed && isMobile}" class="py-3 px-4">
      
      <div class="card">
        <div class="card-body">
          
          <router-outlet></router-outlet>

        </div>   
      </div>
       



    </main>

  </div>
</div>