<div class="container mt-5 text-center">
    <i class="bi bi-check-circle-fill display-1 text-success"></i>
    <h2 class="mt-3">¡Pago Pendiente</h2>
    <p class="lead">Tu pedido esta pendiente.</p>
    <p>Recibirás una confirmación por correo electrónico cuando haya sido exitoso.</p>
    <!-- Opcional: Mostrar ID de pedido si lo pasas por query params -->
    <!-- <p *ngIf="orderId">Número de pedido: <strong>{{ orderId }}</strong></p> -->
    <a routerLink="/my-orders" class="btn btn-primary mt-3 me-2">Ver Mis Pedidos</a>
    <a routerLink="/dashboard" class="btn btn-outline-secondary mt-3">Seguir Comprando</a>
</div>