<div class="sidebar bg-light" [ngClass]="{'sidebar-expanded': !sidebarService.isSidebarCollapsed, 'sidebar-collapsed': sidebarService.isSidebarCollapsed}">
    <div class="py-4 px-3">
      <div class="sidebar-header mb-4">
        <h5 *ngIf="!sidebarService.isSidebarCollapsed">Navegación</h5>
        <span *ngIf="sidebarService.isSidebarCollapsed" class="icon-only">
          <i class="bi bi-list"></i>
        </span>
      </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            <i class="bi bi-house me-2"></i>
            <span *ngIf="!sidebarService.isSidebarCollapsed">Inicio</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos" routerLinkActive="active">
            <i class="bi bi-grid me-2"></i>
            <span *ngIf="!sidebarService.isSidebarCollapsed">Productos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carrito" routerLinkActive="active">
            <i class="bi bi-cart me-2"></i>
            <span *ngIf="!sidebarService.isSidebarCollapsed">Carrito</span>
          </a>
        </li>
      </ul>
    </div>
  </div>